body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
}
nav {
}
nav button {
  width: 220px;
}

nav .dropdown-menu {
  width: 250px;
}
nav a {
  width: 220px;
}

.card {
  width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
